.row.page-icons
    .c3
        a(href="#").circle#blog: span.icon-pencil
        .title Blog
    .c3
        a(href="#").circle#projects: span.icon-suitcase
        .title Projects
    .c3
        a(href="#").circle#book-notes: span.icon-bookmark
        .title Book Notes
    .c3
        a(href="#").circle#contact: span.icon-envelope
        .title Contact
