.row.page-icons
    .c3
        a(href="/blog/").circle#blog: span.icon-pencil
        .title Blog
    .c3
        a(href="/projects/").circle#projects: span.icon-suitcase
        .title Projects
    .c3
        a(href="/book-notes/").circle#book-notes: span.icon-bookmark
        .title Book Notes
    .c3
        a(href="/contact/").circle#contact: span.icon-envelope
        .title Contact
